@use '@/assets/styles/constant.scss' as *;

.qy-table {
  display: inline-block;

  .qy-table-content {
    overflow-x: auto;
    border-top: $border-line;

    .qy-table-content-title {
      .qy-title-row {
        display: flex;
        align-items: center;
      }
    }

    .qy-table-content-main {
      .qy-main-row {
        display: flex;
        align-items: center;
        border-bottom: $border-line;

        .qy-main-row-item {
          flex-shrink: 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
